
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-image: url("../img/math2.jpg");
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

h1{
  background-color:#2a9d8f;
  text-align: center;
  color:white;
  font-size: 22px;
  width: 100%;
  text-align: center;
  padding:20px;
  margin: 20px 0;
}



h2,h3{
  text-align: center;
  color:rgb(61,64,91);
  font-size: 17px;
  width: 100%;
  text-align: center;
  padding-bottom:10px;
  margin-bottom:15px;
}


h3#result{
  margin-top: 20px;
  color: #2a9d8f;
}

p{
  font-size: 16px;
  color:rgb(61,64,91);
  font-weight: bold;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}


.list{
  margin-top: 30px;
  width:240px;
  border: 2px solid #2a9d8f;
  border-radius: 5px;

}

.result{
  border: 1px solid rgb(61,64,91);
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  font-weight: bold;
  font-size: 16px;
  background-color:  #2a9d8f;
  padding:12px 10px;
  border-radius: 5px;
  color:white;
  transition: .2s;
}

button:hover{
  font-size: 16px;
  background-color: rgb(61,64,91);
  padding:12px 10px;
  border-radius: 5px;
  color:white;
}

input{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: white;
  padding:12px 10px;
  border-radius: 5px;
  color: #2a9d8f;
}


ul{
  width:100%;
  padding-left: 10px;
  margin-top: 10px;
  overflow-y: scroll;
  height: 300px;
}
